.project{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 100px 20px;
    margin-bottom: 40px;
    z-index: 10px;
}

.logo{
    width: 200px;
    object-fit: cover;
}

.description{
    position: relative;
    font-size: var(--font-size-regular);
    z-index: 10;
}

.section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-size: var(--font-size-medium);
    color: var(--color-1);
}

.list{
    list-style: none;
}

.item{
    font-size: var(--font-size-regular);
}

.corner{
    position: absolute;
    top: -20px;
    height: 180px;
    pointer-events: none;
    z-index: 0;
}

.corner-1{
    left: -20px;
}

.corner-2{
    right: -20px;
    transform: rotateY(180deg);
    filter: brightness(0) saturate(100%) invert(63%) sepia(72%) saturate(292%) hue-rotate(59deg) brightness(97%) contrast(93%);
}

@media (min-width: 700px){

    .info{
        gap: 50px;
        margin: 180px 40px;
        margin-bottom: 40px;
    }
    
    .logo{
        width: 260px;
    }

    .corner{
       top: -40px;
       height: 320px;
    }
    
    .corner-1{
       left: -40px;
    }
    
    .corner-2{
       right: -40px;
    }
}

@media (min-width: 1024px){

    .info{
        margin: 220px 80px;
        margin-bottom: 40px;
    }

    .logo{
        width: 340px;
    }

    .description{
        font-size: calc(var(--font-size-regular) + .2rem);
    }

    .item{
        font-size: calc(var(--font-size-regular) + .2rem);
    }

    .corner{
       top: -60px;
       height: 400px;
    }
    
    .corner-1{
       left: -60px;
    }
    
    .corner-2{
       right: -60px;
    }
}

@media (min-width: 1280px){

    .info{
        margin: 200px 80px;
        margin-bottom: 40px;
    }

    .logo{
        width: 260px;
    }

    .description{
        font-size: var(--font-size-regular);
    }

    .item{
        font-size: var(--font-size-regular);
    }

    .corner{
       top: -40px;
       height: 320px;
    }
    
    .corner-1{
       left: -40px;
    }
    
    .corner-2{
       right: -40px;
    }
}

@media (min-width: 1920px){

    .info{
        margin: 220px 120px;
        margin-bottom: 40px;
    }

    .corner{
       top: -60px;
       height: 380px;
    }
    
    .corner-1{
       left: -40px;
    }
    
    .corner-2{
       right: -40px;
    }
} 