.hero{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: all 1s ease;
}

.hero-title-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 40px 20px;
    padding-bottom: 60px;
    z-index: 15;
}

.hero-title-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title{
    filter: invert(100%);
    animation: mov-title 4s linear infinite alternate;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.hero-slogan{
    color: white;
    font-size: calc(var(--font-size-regular) - .1rem);
    font-weight: 300;
    width: 70%;
    text-align: center;
    animation: mov 4s linear infinite alternate;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    animation-delay: 1s;
}

.scroll{
    width: 30px;
    cursor: pointer;
    transition: transform .5s ease;
    image-rendering: crisp-edges;
}

.scroll:hover{
    transform: scale(1.09);
}

.hero-deco{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    pointer-events: none;
}

.leaf-1{
    position: absolute;
    bottom: -10px;
    left: -50px;
    width: 180px;
    opacity: .7;
    z-index: 1;
    background-image: url(/illustrations/leafs-3.svg);
}

.leaf-2{
    position: absolute;
    bottom: 0px;
    right: -60px;
    width: 180px;
    opacity: .7;
    z-index: 1;
    background-image: url(/illustrations/leafs-2.svg);
}

.cocktail-1, .cocktail-2{
    position: absolute; 
    pointer-events: none;
    z-index: 10;
    height: 180px;
    aspect-ratio: 3 / 5;
}

.cocktail-1{
    bottom: -10px;
    right: 20%;
    background-image: url(/illustrations/cocktail-1.svg);
}

.cocktail-2{
    bottom: -10px;
    left: 20%;
    background-image: url(/illustrations/cocktail-2.svg);
}

.lemon{
    position: absolute;
    right: 10%;
    top: 10%;
    width: 100px;
    opacity: .3;
    z-index: 1;
    animation: mov 3s linear infinite alternate;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    animation-delay: .5s;
    background-image: url(/illustrations/lemon.svg);
}

.ice{
    position: absolute;
    width: 50px;
    opacity: .6;
    z-index: 1;
    animation: mov 2s linear infinite alternate;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    background-image: url(/illustrations/ice.svg);
}

.ice-1{
    left: 10%;
    top: 25%;
}

.ice-2{
    right: 10%;
    top: 60%;
    animation-delay: 1s;
}

.hero-wave-1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 15;
    pointer-events: none;
}

.background{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
    pointer-events: none;
}

@keyframes mov{
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(30px);
    }
}

@keyframes mov-title{
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(30px);
    }
}

@media (min-width: 700px){
    .hero{
        height: 70vh;
    }

    .hero-title-cont{
        gap: 60px;
        padding-bottom: 120px;
    }

    .hero-title-text{
        gap: 20px;
    }

    .hero-title{
        transform: scale(1.4);
    }

    .hero-slogan{
        font-size: var(--font-size-regular);
    }

    .scroll{
        width: 35px;
    }

    .leaf-1{
        left: -70px;
        width: 300px;
    }

    .leaf-2{
        right: -60px;
        width: 260px;
    }

    .cocktail-1, .cocktail-2{
        height: 280px;
    }

    .cocktail-1{
        bottom: -10px;
        right: 22%;
    }

    .cocktail-2{
        bottom: -10px;
        left: 20%;
    }

    .lemon{
        right: 15%;
        top: 10%;
        width: 140px;
    }

    .ice{
        width: 70px
    }

    @keyframes mov-title{
        0%{
            transform: scale(1.4) translateY(0px);
        }
    
        100%{
            transform: scale(1.4) translateY(30px);
        }
    }
}

@media (min-width: 1024px){

    .hero{
        height: 70vh;
    }

    .hero-title-cont{
        gap: 80px;
    }

    .hero-title-text{
        gap: 40px;
    }

    .hero-title{
        transform: scale(1.7);
    }

    .scroll{
        width: 40px;
    }

    .leaf-1{
        left: -75px;
        width: 340px;
    }

    .leaf-2{
        right: -60px;
        width: 300px;
    }

    .cocktail-1, .cocktail-2{
        height: 300px;
    }

    .cocktail-1{
        bottom: -10px;
        right: 25%;
        transform: rotate(-10deg);
    }

    .cocktail-2{
        bottom: -10px;
        left: 25%;
        transform: rotate(10deg);
    }

    .lemon{
        width: 180px;
    }

    .ice{
        width: 80px;
        opacity: .4;
    }

    @keyframes mov-title{
        0%{
            transform: scale(1.7) translateY(0px);
        }
    
        100%{
            transform: scale(1.7) translateY(30px);
        }
    }
}

@media (min-width: 1280px){

    .hero{
        height: 95vh;
    }

    .hero-title-cont{
        gap: 60px;
    }

    .hero-title-text{
        gap: 20px;
    }

    .hero-title{
        transform: scale(1.4);
    }

    .hero-slogan{
        font-size: var(--font-size-regular);
    }

    .scroll{
        width: 35px;
    }

    .scroll:hover{
        transform: scale(1.1);
    }

    .leaf-1{
        bottom: 40px;
        left: -60px;
        width: 280px;
    }

    .leaf-2{
        bottom: 40px;
        right: -60px;
        width: 240px;
    }

    .cocktail-1, .cocktail-2{
        height: 300px;
    }

    .cocktail-1{
        bottom: 10px;
        right: 20%;
        transform: rotate(-10deg);
    }

    .cocktail-2{
        bottom: -10px;
        left: 20%;
        transform: rotate(10deg);
    }

    .lemon{
        width: 140px;
    }

    .ice{
        width: 80px;
    }

    @keyframes mov-title{
        0%{
            transform: scale(1.4) translateY(0px);
        }
    
        100%{
            transform: scale(1.4) translateY(30px);
        }
    }
}

@media (min-width: 1920px){

    .hero{
        height: 95vh;
    }

    .hero-title-cont{
        gap: 60px;
    }

    .hero-title-text{
        gap: 20px;
    }
    
    .hero-slogan{
        font-size: var(--font-size-regular);
    }

    .scroll{
        width: 35px;
    }

    .leaf-1{
        bottom: 60px;
        left: -70px;
        width: 340px;
    }

    .leaf-2{
        bottom: 100px;
        right: -70px;
        width: 280px;
    }

    .cocktail-1, .cocktail-2{
        height: 340px;
    }

    .cocktail-1{
        bottom: 50px;
        right: 25%;
        transform: rotate(-10deg);
    }

    .cocktail-2{
        bottom: -10px;
        left: 25%;
        transform: rotate(10deg);
    }

    .lemon{
        width: 170px;
    }
    
} 


