.drink{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.drink-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px 20px;  
}

.info{
    display: flex;
    flex-direction: column; 
    gap: 50px;
    width: 100%;    
}

.drink-extras{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 80px;
    margin: 60px 0px;
    z-index: 10;
}

.images-cont,
.insights-cont{
    position: relative;
    z-index: 10;
    width: 100%;
}

.float-name{
    position: absolute;
    left: -20px;
    top: -75px;
    z-index: 0;
    font-size: 80px;
    color: white;
    -webkit-text-stroke: 1px var(--text-border); 
}

.recommended-drinks{
    width: 100%;
    display: grid;
    grid-template-columns: 1;
}

@media (min-width: 600px){
    .images-cont{
        width: 70%;
    }
}

@media (min-width: 700px){

    .drink{
        gap: 60px;
    }

    .drink-content{
        padding: 0px 60px;
    }
    
    .info{
        gap: 60px;    
    }

    .drink-extras{
        margin: 80px 0px;
    }

    .images-cont{
        width: 100%;
    }

    .float-name{
        left: -40px;
        top: -110px;
        font-size: 100px;
        -webkit-text-stroke: 2px var(--text-border); 
    }
}

@media (min-width: 1024px){

    .drink{
        gap: 80px;
    }

    .info{
        gap: 80px;       
    }

    .drink-extras{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
        gap: 40px;
        height: 100%;
    }

    .images-cont{
        width: 40%;
    }

    .insights-cont{
        width: 50%;
    }

    .float-name{
        left: 50px;
        top: -150px;
        font-size: 140px;
    }
}

@media (min-width: 1280px){

    .drink{
        gap: 100px;
    }

    .drink-content{
        padding: 0px 80px;
    }
    
    .info{
        flex-direction: row;
        justify-content: space-between;
    }

    .drink-extras{
        gap: 100px;
        height: 100%;
        align-items: center;
    }

    .images-cont{
        width: 30%;
    }

    .insights-cont{
        width: 60%;
    }

    .float-name{
        left: 5%;
        top: -120px;
        font-size: 120px;
        opacity: .8;
    }

}

@media (min-width: 1920px){

    .drink{
        gap: 120px;
    }

    .drink-content{
        padding: 0px 100px;
    }

    .info{
        flex-direction: row;
        justify-content: space-between;
    }

    .drink-extras{
        gap: 100px;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .images-cont{
        width: 25%;
    }

    .insights-cont{
        width: 60%;
    }

    .float-name{
        left: 10%;
        top: -120px;
        font-size: 120px;
        opacity: .5;
    }
} 