.bubbles {
  position: absolute;
  top: 0px;
  left: 0px;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease;
  z-index: 0;
  width: 100%;
  height: 100vh;
}

.bubbles.show {
  opacity: 1;
}