.images{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title{

}

.slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-image-cont{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.main-slides{
    width: 100%;
    height: 100%;
}

.main-images{
    width: 100%;
}

.thumbs-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.thumbs-slides{
    border-radius: 10px;
    border: 3px solid transparent;
    overflow: hidden;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all .5s ease;
}

.thumbs-slides:hover .thumb-image{
    transform: scale(1.04);
}

.thumb-image{
    width: 100%;
    transition: all .6s ease;
}

:global(.swiper-slide-thumb-active) {
  border: 3px solid var(--thumb-active-color);
}