.drink{
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column; 
    gap: 50px;
    width: 100%;
    padding: 50px 20px;       
}

@media (min-width: 700px){
    
    .info{
        padding: 50px 40px;
        gap: 60px;    
    }
}

@media (min-width: 1024px){

    .info{
        padding: 60px;
        gap: 80px;       
    }
}

@media (min-width: 1280px){
    
    .info{
        padding: 100px 30px;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1920px){
    .info{
        padding: 120px 30px;
        flex-direction: row;
        justify-content: space-between;
    }
} 