.drink-hero-cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    overflow: hidden;
}

.drink-hero{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transform: translateY(-40px);
    z-index: 10;
}

.drink-image{
    position: relative;
    width: 80%;
    object-fit: contain;
    z-index: 10;
    filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, .2));
    border-radius: 10px;
}

.drink-main-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    z-index: 10;
}

.drink-category{
    color: white;
    font-size: .9rem;
    font-weight: 300;
}

.drink-name{
    color: white;
    margin-bottom: 20px;
}

.drink-description{
    color: white;
    font-size: .9rem;
    font-weight: 400;
}

.drink-scroll-icon{
    width: 30px;
    cursor: pointer;
    margin-top: 60px;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: .9rem;
    color: white;
    padding: 3px 10px;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease;
    z-index: 20;
}

.back:hover .back-icon{
    width: .8rem;
}

.back-icon{
    filter: invert(100%);
    width: 0;
    font-size: .5rem;
    transition: all .5s ease;
}

.shadow1{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, .2), transparent);
    z-index: 0;
    pointer-events: none;
}

.shadow2{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3), transparent);
    z-index: 0;
    pointer-events: none;
}

.splash{
    position: absolute;
    left: -10px;
    bottom: 0px;
    pointer-events: none;
    opacity: .09;
    transform: rotateY(-180deg);
}

.lemon{
    position: absolute;
    width: 60px;
    right: 50px;
    top: 50px;
    pointer-events: none;
    opacity: .09;
}

.dots{
    position: absolute;
    width: 100px;
    left: 10px;
    top: 40%;
    pointer-events: none;
    transform: rotateZ(90deg);
}

.circle{
    position: absolute;
    width: 240px;
    height: 240px;
    right: -100px;
    bottom: 0px;
    pointer-events: none;
    border-radius: 50%;
    border: 20px solid rgba(255, 255, 255, .5);
}

.leafs{
    position: absolute;
    width: 200px;
    left: -20px;
    bottom: 0px;
    pointer-events: none;
}