.insights{
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

.insight-cont{
    position: relative;
    border-radius: 15px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
}

.difficulty{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.history{
    color: white;
    gap: 10px;
}

.tags{
    justify-content: space-between;
    gap: 20px;
}

.insight-title{
    position: relative;
    font-size: calc(var(--font-size-regular) + .2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.title-icon{
    width: calc(var(--font-size-regular) + .2rem);
}

.history .title-icon{
    filter: invert(100%);
}

.insight-text{
    font-size: var(--font-size-small);
    position: relative;
    z-index: 10;
}

.insight-title-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label{
    font-size: calc(var(--font-size-regular) - .1rem);
    font-weight: 400;
    opacity: .8;
}

.progress-cont{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
}

.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.circle{
    width: 60%;
    height: 60%;
}

.tags-cont{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    z-index: 10;
}

.insight-tag{
    font-size: calc(var(--font-size-regular) - .2rem);
    padding: 2px 10px;
    border-radius: 10px;
    transition: all .5s ease;
    cursor: pointer;
}

.insight-tag:hover {
    transform: translateY(-2px);
}

.image-cont{
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    z-index: 0;
}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.block{
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(to right, white, transparent );
    width: 100%;
    height: 100%;
}