.recommendations{
    position: relative;
    margin: 20px 0px;
    margin-top: 60px;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
    z-index: 10;
    padding: 0px 20px;
}

.recommendations-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px 20px;
}