.drink-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.drink-details-title{
    font-size: var(--font-size-medium);
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}

.info-cont{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    border-radius: 8px;
    padding: 7px 10px;
}

.info-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.info-icon img{
    position: relative;
    width: 50%;
    height: 50%;
    z-index: 10;
    filter: invert(100%);
}

.info-icon span{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 9;
}

.info-text{
    display: flex;
    flex-direction: column;
}

.info-title{
    font-size: var(--font-size-small);
    font-weight: 400;
    opacity: .8;
}

.info-data{
    font-size: var(--font-size-regular);
    font-weight: 500;
}

@media (min-width: 700px){

    .info-card{
        padding: 10px;
    }

    .info-icon{
        width: 55px;
        height: 55px;
    }

    .info-text{
        height: 100%;
        justify-content: space-between;
    }
}

@media (min-width: 1024px){

    .info-card{
        gap: 30px;
    }

    .info-icon img{
        width: 55%;
        height: 55%;
    }

}

@media (min-width: 1280px){
    .drink-info{
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 30px 40px;
        border-radius: 20px;
    }

}

@media (min-width: 1920px){
    .drink-info{
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 30px 40px;
        border-radius: 20px;
    }
} 