.drink-card{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
    font-family: "Noto Sans", sans-serif;
    background: linear-gradient(180deg, transparent 50%, cyan 200%);
}

.drink-image-cont{
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 15px;
}

.drink-image{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all .7s ease;
}

.drink-image:hover{
    transform: scale(1.06);
}

.drink-text{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 15px 20px;
    padding-bottom: 40px;
}

.drink-name{
    font-size: 1.5rem;
}

.drink-category{
    font-size: .8rem;
    opacity: .8;
}

.drink-description{
    font-size: .9rem;
    font-weight: 400;
}

.drink-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drink-info-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    flex: .8;
}

.drink-info-type{
    flex: 1;
    border-left: 1px solid rgba(0, 0, 0, .3);
    border-right: 1px solid rgba(0, 0, 0, .3);
}

.drink-info-abv{
    flex: .6;
}

.drink-info-title{
    font-size: .8rem;
}

.drink-info-text{
    font-size: .8rem;
    font-weight: 500;
}

.drink-button-cont{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.drink-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-size: .8rem;
    font-weight: 500;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all .3s ease;
    gap: 10px;
}

.drink-button:hover .drink-button-icon{
    width: 20px;
}

.drink-button-icon{
    width: 0px;
    height: 20px;
    filter: invert(100%);
    transition: all .3s ease;
}

.drink-deco{
    position: absolute;
    z-index: 0;
    opacity: .3;
}

.drink-deco-1{
    width: 70px;
    height: 70px;
    top: 0px;
    right: 0px;
}

.drink-deco-2{
    width: 120px;
    height: 120px;
    bottom: -8%;
    right: -8%;
    opacity: .1;
}