.recommendations{
    position: relative;
    margin: 20px 0px;
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
    z-index: 10;
}

.title{
   font-size: var(--font-size-medium);
}

.recommendations-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (min-width: 1280px){
    .recommendations{
        margin-bottom: 0px;
    }

}