.drink-list{
    margin-bottom: 80px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px 20px;
}

.drink-list__header{
    position: relative;
    width: 100%;
    padding: 5px 20px;
    border: 2px solid #08C9F4;
    border-radius: 5px;
    overflow: hidden;
}

.drink-list__title{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    font-size: .8rem;
    color: rgba(0, 0, 0, .6);
}


.drink-list__results{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.drink-list__count{
    font-size: 2rem;
    color: #08C9F4;
    font-weight: 700;
}

.drink-list__icon{
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 80px;
    opacity: .1;
    pointer-events: none;
}