.drink{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.drink-content{
    padding: 0px 40px;  
}

.info{
    display: flex;
    flex-direction: column; 
    gap: 50px;
    width: 100%;    
}

.recommended-drinks{
    width: 100%;
    display: grid;
    grid-template-columns: 1;
}

@media (min-width: 700px){

    .drink{
        gap: 60px;
    }

    .drink-content{
        padding: 0px 60px;
    }
    
    .info{
        gap: 60px;    
    }
}

@media (min-width: 1024px){

    .drink{
        gap: 80px;
    }

    .info{
        gap: 80px;       
    }
}

@media (min-width: 1280px){

    .drink{
        gap: 100px;
    }

    .drink-content{
        padding: 0px 80px;
    }
    
    .info{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1920px){

    .drink{
        gap: 120px;
    }

    .drink-content{
        padding: 0px 100px;
    }

    .info{
        flex-direction: row;
        justify-content: space-between;
    }
} 