.footer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.footer-wave{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 16;
    pointer-events: none;
    transform: rotateX(180deg) translateY(1px);
}

path{
   transition: opacity 2.5s ease;
}

.footer-cont{
    position: relative;
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 15;
}

.footer-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.footer-logo{
    filter: invert(100%);
    z-index: 12;
}

.bubbles{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/illustrations/bubbles.svg);
    background-size: contain;
    background-repeat: repeat;
    opacity: .2;
    pointer-events: none;
    z-index: 10;
}

.footer-copyright{
    color: rgba(255, 255, 255, .7);
    font-size: var(--font-size-small);
    font-weight: 500;
}

.background{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

@media (min-width: 700px){

    .footer-cont{
        gap: 30px;
        min-height: 350px;
    }

    .footer-main{
        gap: 20px;
        transform: translateY(20px);
    }

    .footer-logo{
        transform: scale(1.3);
    }

    .footer-copyright{
        font-size: calc(var(--font-size-small) + .2rem);
    }
}

@media (min-width: 1024px){

    .footer-cont{
        gap: 30px;
        min-height: 400px;
    }

    .footer-main{
        transform: translateY(20px);
    }


    .footer-logo{
        transform: scale(1.5);
    }

    .footer-copyright{
        font-size: var(--font-size-regular);
    }
}

@media (min-width: 1280px){

    .footer{
        margin-top: 180px;
    }

    .footer-cont{
        gap: 30px;
        min-height: 400px;
    }

    .footer-main{
        gap: 20px;
        transform: translateY(50px);
    }

    .footer-logo{
        transform: scale(1.4);
    }

    .footer-copyright{
        font-size: calc(var(--font-size-small) + .1rem);
    }

    .bubbles{
        background-size: 30%;
        opacity: .1;
    }
}

@media (min-width: 1920px){

    .footer{
        margin-top: 220px;
    }

    .footer-cont{
        min-height: 500px;
    }

    .footer-main{
        transform: translateY(70px);
    }

} 