.footer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.footer-umbrella{
    position: absolute;
    top: -30px;
    right: 40px;
    z-index: 7;
    width: 140px;
}

.footer-waves-cont{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-wave-1{
    z-index: 8;
}

.footer-wave-2{
    position: absolute;
    z-index: 6;
    top: -30px;
    left: 0px;
}

.footer-cont{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, #e249be, #08C9F4);
    z-index: 10;
}

.footer-logo{
    filter: invert(100%);
    z-index: 12;
}

.footer-bubbles{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(100%);
    opacity: .2;
    z-index: 11;
}

.footer-copyright{
    color: rgba(255, 255, 255, .7);
    font-size: .8rem;
    font-weight: 500;
}