.header{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 20px;

    z-index: 100;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{
    width: 90px;
    filter: invert(100%);
    cursor: pointer;
}