.hero{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #e249be, #08C9F4);
    overflow: hidden;
}

.hero-title-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 40px 20px;
    padding-bottom: 60px;
    z-index: 15;
}

.hero-title-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title{
    filter: invert(100%);
}

.hero-slogan{
    color: white;
    font-size: calc(var(--font-size-regular) - .1rem);
    font-weight: 300;
    width: 70%;
    text-align: center;
}

.scroll{
    width: 30px;
    cursor: pointer;
}

.cocktail-1{
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 100px;
    pointer-events: none;
    transform: translateX(-50%);
}

.leaf-1{
    position: absolute;
    bottom: 0px;
    left: -40px;
    width: 180px;
    pointer-events: none;
    opacity: .7;
    z-index: 1;
}

.leaf-2{
    position: absolute;
    bottom: 0px;
    right: -60px;
    width: 180px;
    pointer-events: none;
    opacity: .7;
    z-index: 1;
}

.lemon{
    position: absolute;
    right: 10%;
    top: 10%;
    width: 100px;
    pointer-events: none;
    opacity: .3;
}

.bubbles{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/illustrations/bubbles.svg);
    background-size: contain;
    background-repeat: repeat;
    opacity: .1;
    pointer-events: none;
    z-index: 0;
}

.hero-wave-1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 15;
    pointer-events: none;
}


@media (min-width: 700px){
    .hero{
        height: 60vh;
    }

    .hero-title-cont{
        gap: 60px;
        padding-bottom: 120px;
    }

    .hero-title-text{
        gap: 20px;
    }

    .hero-title{
        transform: scale(1.4);
    }

    .hero-slogan{
        font-size: var(--font-size-regular);
    }

    .scroll{
        width: 35px;
    }

    .cocktail-1{
        width: 140px;
    }

    .leaf-1{
        left: -60px;
        width: 260px;
    }

    .leaf-2{
        right: -60px;
        width: 260px;
    }

    .lemon{
        right: 10%;
        top: 10%;
        width: 140px;
    }
}

@media (min-width: 1024px){



    .hero-title-cont{
        gap: 80px;
    }

    .hero-title-text{
        gap: 40px;
    }

    .hero-title{
        transform: scale(1.7);
    }

    .hero-slogan{
        font-size: var(--font-size-regular);
    }

    .scroll{
        width: 40px;
    }

    .cocktail-1{
        bottom: -30px;
        left: 30%;
        width: 160px;
    }

    .leaf-1{
        left: -60px;
        width: 300px;
    }

    .leaf-2{
        right: -60px;
        width: 300px;
    }

    .lemon{
        width: 160px;
    }

    .bubbles{
        background-size: 60%;
    }
}

@media (min-width: 1280px){

    .hero{
        height: 80vh;
    }

    .hero-title-cont{
        gap: 60px;
    }

    .hero-title-text{
        gap: 20px;
    }

    .hero-title{
        transform: scale(1.4);
    }

    .hero-slogan{
        font-size: var(--font-size-regular);
    }

    .scroll{
        width: 35px;
    }

    .cocktail-1{
        bottom: -20px;
        left: 30%;
        width: 140px;
    }

    .leaf-1{
        bottom: 40px;
        left: -40px;
        width: 240px;
    }

    .leaf-2{
        bottom: 40px;
        right: -60px;
        width: 240px;
    }

    .lemon{
        width: 140px;
    }

    .bubbles{
        background-size: 40%;
    }
}

@media (min-width: 1920px){

    .hero{
        height: 80vh;
    }

    .hero-title-cont{
        gap: 60px;
    }

    .hero-title-text{
        gap: 20px;
    }

    .hero-title{
        transform: scale(1.4);
    }

    .hero-slogan{
        font-size: var(--font-size-regular);
    }

    .scroll{
        width: 35px;
    }

    .cocktail-1{
        left: 20%;
        width: 220px;
    }

    .leaf-1{
        bottom: 60px;
        left: -60px;
        width: 280px;
    }

    .leaf-2{
        bottom: 100px;
        right: -70px;
        width: 280px;
    }

    .lemon{
        width: 140px;
    }

    .bubbles{
        background-size: 30%;
    }
} 