.hero{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #e249be, #08C9F4);
}

.hero-title-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 40px 20px;
    padding-bottom: 60px;
    z-index: 15;
}

.hero-title-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title{
    filter: invert(100%);
}

.hero-slogan{
    color: white;
    font-size: 1rem;
    font-weight: 300;
    width: 70%;
    text-align: center;
}

.scroll{
    width: 30px;
    cursor: pointer;
}

.cocktail-1{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100px;
    pointer-events: none;
    opacity: 1;
    transform: translateX(-50%);
}

.leaf-1{
    position: absolute;
    bottom: 10px;
    left: -40px;
    width: 200px;
    pointer-events: none;
    opacity: .7;
}

.leaf-2{
    position: absolute;
    bottom: 30px;
    right: -60px;
    width: 200px;
    pointer-events: none;
    opacity: .7;
}

.lemon{
    position: absolute;
    right: 10%;
    top: 10%;
    width: 100px;
    pointer-events: none;
    opacity: .3;
}

.bubbles{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    filter: invert(100%);
    opacity: .1;
    pointer-events: none;
    z-index: 10;
    object-fit: cover;
}

.hero-wave-1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 15;
    pointer-events: none;
    transform: rotateZ(180deg);
}