.hero{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title-cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #e249be, #08C9F4);
    padding: 40px 20px;
    padding-bottom: 20px;
    z-index: 10;
}

.hero-title{
    transform: rotate(-5deg);
    filter: invert(100%);
}
.hero-waves-cont{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero-wave-1{
    z-index: 8;
}

.hero-wave-2{
    position: absolute;
    z-index: 6;
    top: 10px;
    left: 0px;
}

.hero-lemon{
    position: absolute;
    bottom: -0px;
    right: 40px;
    z-index: 7;
    width: 140px;
}

.hero-circle{
    position: absolute;
    background-color: rgba(255, 255, 255, .3);
    pointer-events: none;
    border-radius: 50%;
    z-index: 30;
}

.hero-bubbles{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(100%);
    opacity: .2;
    z-index: 11;
    pointer-events: none;
}