.hero{
    width: 100%;
    position: relative;
}

.hero-wave-cont{
    width: 100%;
    height: 300px !important;
    
    transform: scaleY(-1) scaleX(-1); 
}

.hero-wave{
    width: 100%;
    height: 200px;
}

.hero-title-cont{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px; 
 
}

.hero-title{
    position: absolute;
    left: 20px;
    top: 30%; 
    
    font-size: 2.2rem;
    color: white;
    transform: rotate(-5deg);
}

.hero-circle{
    position: absolute;

    background-color: rgba(255, 255, 255, .3);
    pointer-events: none;
    border-radius: 50%;
    z-index: 30;
}

.hero-circle-1{
    top: 20px;
    right: 50px;

    width: 30px;
    height: 30px;
}

.hero-circle-2{
    top: 40px;
    right: 120px;

    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .3);
}

.hero-circle-3{
    top: 80px;
    right: 80px;

    width: 20px;
    height: 20px;
}