.home{
    width: 100%;
    height: 100vh;
}

.home-content{
    padding: 0px 40px;
}

@media (min-width: 700px){
    .home-content{
        padding: 0px 60px;
    }
}

@media (min-width: 1024px){

}

@media (min-width: 1280px){
    .home-content{
        padding: 0px 80px;
    }
}

@media (min-width: 1920px){
    .home-content{
        padding: 0px 160px;
    }
} 