.search{
    width: 100%;
    margin-top: 80px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.search-input-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    gap: 20px;
    padding: 5px 15px;
    transition: all .2s ease;
}

.search-input-cont:focus-within {
  border-color: #08C9F4;
}

.search-icon{
    width: 24px;
    opacity: .3;
}

.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 6px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    transform: translateY(1px);
}

.search-filter-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-filter-type{
    margin-top: 20px;
}

.search-filter-title{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
}

.search-filter-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.search-button-type{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 7px;
    cursor: pointer;
    transition: border .5s ease;
}

.search-border{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 7px;
}

.search-no-border{
    border: none !important;
}

.search-button-type-active{
    background: linear-gradient(to left, #000000, #2d2d2d);
    color: white;
}

.search-filter-abv-cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-abv{
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    opacity: .8;
    padding: 2px 20px;
    width: 70px;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.search-filter-abv{
    outline: none;
    background: linear-gradient(to left, #e249be, #08C9F4);
    height: 6px;
    border-radius: 5px;
    -webkit-appearance: none;
}

.search-filter-abv::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 4px solid #292929;
  border-radius: 50%;
  cursor: pointer;
}
