.search{
    width: 100%;
    margin-top: 40px;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title{
    font-family: "Noto Sans", sans-serif;
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
    background: linear-gradient(to top, #000000, #2d2d2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title:hover .title-icon{
    transform: rotate(10deg);
}

.title-icon{
    width: var(--font-size-medium);
    object-fit: contain;
    position: relative;
    left: 5px;
    transition: all .2s ease;
}

.search-input-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    gap: 20px;
    padding: 5px 15px;
    transition: all .2s ease;
}

.search-input-cont:focus-within {
  border-color: #08C9F4;
}

.search-icon{
    width: 24px;
    opacity: .3;
}

.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 6px;
    outline: none;
    font-size: var(--font-size-regular);
    font-weight: 400;
    border: none;
    transform: translateY(1px);
}

.search-filters{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;
}

.search-filter-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-filter-title{
    font-size: calc(var(--font-size-regular) + .1rem);
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
}

.search-title-icon{
    width: 1.4rem;
}

.search-filter-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.search-button-filter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    font-weight: 500;
    font-size: calc(var(--font-size-regular) - .1rem);
    padding: 6px 12px;
    border-radius: 7px;
    cursor: pointer;
    transition: border .5s ease;
    border: none;
    outline: none;
}

.search-border{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 7px;
}

.search-no-border{
    border: none !important;
}

.search-button-type-active{
    color: white;
}

@media (min-width: 700px){
    
    .title-icon{
        left: 10px;
    }

    .search-input-cont{
        padding: 10px 20px;
    }

    .search-icon{
        width: 26px;
    }

    .search-filters{
        margin-top: 40px;
        gap: 50px;
    }

}

@media (min-width: 1024px){

    .search{
        margin-top: 60px;
    }

    .title{
        font-size: calc(var(--font-size-medium) + .6rem);
    }

    .title-icon{
        width: calc(var(--font-size-medium) + .4rem);
        left: 20px;
    }

    .search-icon{
        width: 30px;
    }

    .search-title-icon{
        width: 1.8rem;
        margin-right: 10px;
    }
    
}

@media (min-width: 1280px){

    .search{
        margin-top: 100px;
    }

    .title{
        font-size: var(--font-size-medium);
    }

    .title-icon{
        width: var(--font-size-medium);
    }

    .search-input-cont{
        padding: 8px 20px;
        border-radius: 10px;
        width: 80%;
    }

    .search-input{
        font-size: calc(var(--font-size-regular) - .1rem);
    }

    .search-icon{
        width: 25px;
    }

    .search-filters{
        flex-direction: row;
        justify-content: flex-start;
    }

    .search-filter-cont{
        width: auto;
        gap: 30px;
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 20px;
        border-radius: 10px;
    }

    .search-button-filter{
        font-weight: 500;
        font-size: calc(var(--font-size-regular) - .3rem);
        padding: 6px 10px;
    }

}

@media (min-width: 1920px){

    .search{
        margin-top: 100px;
    }

    .title{
        font-size: calc(var(--font-size-medium) - .2rem);
    }

    .title-icon{
        width: calc(var(--font-size-medium) - .2rem);
    }

    .search-input{
        font-size: calc(var(--font-size-regular) - .2rem);
    }
    
    .search-filter-cont{
        width: auto;
        padding: 20px 30px;
    }
} 