.search{
    width: 100%;
    margin-top: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slogan{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.6rem;
    margin-bottom: 20px;
    background: linear-gradient(to top, #000000, #2d2d2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan:hover .slogan-icon{
    transform: rotate(10deg);
}

.slogan-icon{
    width: 1.6rem;
    object-fit: contain;
    position: relative;
    left: 5px;
    transition: all .2s ease;
}

.search-input-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    gap: 20px;
    padding: 5px 15px;
    transition: all .2s ease;
}

.search-input-cont:focus-within {
  border-color: #08C9F4;
}

.search-icon{
    width: 24px;
    opacity: .3;
}

.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 6px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    transform: translateY(1px);
}

.search-filter-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-filter-type{
    margin-top: 20px;
}

.search-filter-title{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
}

.search-title-icon{
    width: 1.4rem;
}

.search-filter-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.search-button-filter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    font-weight: 500;
    font-size: .9rem;
    padding: 6px 12px;
    border-radius: 7px;
    cursor: pointer;
    transition: border .5s ease;
    border: none;
    outline: none;
}

.search-border{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 7px;
}

.search-no-border{
    border: none !important;
}

.search-button-type-active{
    background: linear-gradient(to left, #000000, #2d2d2d);
    color: white;
}
