.header{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
    z-index: 100;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{
    width: 90px;
    filter: invert(100%);
    cursor: pointer;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.info img{
    width: 25px;
    height: 25px;
}

@media (min-width: 700px){

    .header{
        padding: 5px 30px;
    }

    .logo{
        width: 130px;
    }

    .info img{
        width: 35px;
        height: 35px;
    }

}

@media (min-width: 1024px){
    .header{
        padding: 12px 40px;
    }

    .logo{
        width: 150px;
    }

    .info img{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1280px){
    .header{
        padding: 8px 30px;
    }

    .logo{
        width: 120px;
    }

    .info img{
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1920px){

} 