.drink-card{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    font-family: "Noto Sans", sans-serif;
    background: linear-gradient(180deg, transparent 50%, var(--drink-color) 300%);
    border-bottom: 2px solid var(--drink-color);
    contain: paint;
}

.drink-image-cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: 260px;
    aspect-ratio: 1/1;
    contain: paint;
}

.drink-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all .7s ease;
}

.drink-image-cont:hover .drink-image{
    transform: scale(1.06);
}

.drink-level{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-regular);
    color: white;
    padding: 3px 25px;
    border-bottom-left-radius: 15px;
}

.drink-text{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding: 15px 20px;
    padding-bottom: 30px;
    flex: 1;
}

.drink-name{
    font-size: calc(var(--font-size-regular) + .3rem );
}

.drink-category{
    font-size: var(--font-size-small);
    opacity: .8;
}

.drink-description{
    font-size: calc(var(--font-size-regular) - .1rem);
    font-weight: 400;
}

.drink-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drink-info-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    flex: .8;
}

.drink-info-type{
    flex: 1;
    border-left: 1px solid rgba(0, 0, 0, .3);
    border-right: 1px solid rgba(0, 0, 0, .3);
}

.drink-info-abv{
    flex: .6;
}

.drink-info-title{
    font-size: calc(var(--font-size-regular) - .2rem);
}

.drink-info-text{
    font-size: calc(var(--font-size-regular) - .2rem);
    font-weight: 500;
}

.drink-button-cont{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    z-index: 10;
}

.drink-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-size: calc(var(--font-size-regular) - .2rem);
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .3s ease;
    gap: 10px;
    text-decoration: none;
}

.drink-button:hover .drink-button-icon{
    width: 16px;
}

.drink-button-icon{
    width: 0px;
    height: 20px;
    filter: invert(100%);
    transition: all .3s ease;
}

.drink-deco{
    position: absolute;
    z-index: 0;
    opacity: .3;
}

.drink-deco-1{
    width: 55px;
    height: 55px;
    top: 0px;
    right: 0px;
    pointer-events: none;
    z-index: 0;
}

.drink-deco-2{
    width: 120px;
    height: 120px;
    bottom: -30px;
    right: -30px;
    opacity: .1;
    pointer-events: none;
    z-index: 0;
}

.loader-cont{
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, var(--drink-color) 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, var(--drink-color));
    mask: inherit;
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
    z-index: 50;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}


@media (min-width: 700px){

    .drink-card{
        gap: 10px;
    }

    .drink-image-cont{
        height: 240px;
    }

    .drink-text{
        gap: 20px;
        padding: 15px 20px;
        padding-bottom: 30px;
    }
}

@media (min-width: 1024px){

    .drink-image-cont{
        height: 300px;
    }

    .drink-text{
        padding: 15px 30px;
        padding-bottom: 40px;
    }
    
    .drink-category{
        font-size: calc(var(--font-size-small) + .1rem);
        margin-top: 5px;
    }

    .drink-button{
        padding: 10px 20px;
    }

    .drink-button:hover .drink-button-icon{
        width: 30px;
    }

    .drink-button-icon{
        height: 30px;
    }

    .drink-deco-1{
        width: 90px;
        height: 90px;
    }

    .drink-deco-2{
        width: 160px;
        height: 160px;
        bottom: -12%;
        right: -12%;
    } 
}

@media (min-width: 1280px){

    .drink-image-cont:hover .drink-image{
        transform: scale(1.03);
    }

    .drink-card{
        flex-direction: row;
    }

    .drink-image-cont{
        flex: 1;
        height: 100%;
        border-radius: 10px;
    }

    .drink-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .drink-level{
        font-size: calc(var(--font-size-regular) - .3rem);
        font-weight: 300;
        padding: 2px 20px;
        border-bottom-left-radius: 10px;
    }

    .drink-text{
        height: 100%;
        gap: 10px;
        padding: 30px 20px;
    }
    
    .drink-name{
        font-size: calc(var(--font-size-regular) + .1rem);
        opacity: .9;
    }   

    .drink-category{
        font-size: calc(var(--font-size-small) + .1rem);
        margin-top: 0px;
        opacity: .6;
    }

    .drink-description{
        font-size: calc(var(--font-size-regular) - .3rem);
        opacity: .8;
    }

    .drink-button-cont{
        margin-top: 0px;
    }

    .drink-button{
        font-size: calc(var(--font-size-regular) - .3rem);
        padding: 6px 10px;
    }

    .drink-button-icon{
        height: 20px;
    }

    .drink-deco-1{
        width: 70px;
        height: 70px;
        opacity: .3;
    }

    .drink-deco-2{
        width: 140px;
        height: 140px;
        bottom: -12%;
        right: -12%;
    } 
}

@media (min-width: 1920px){

    .drink-text{
        gap: 20px;
        padding: 30px 20px;
    }

    .drink-category{
        font-size: calc(var(--font-size-small) - .1rem);
        margin-top: 0px;
        opacity: .6;
    }

    .drink-description{
        font-size: calc(var(--font-size-regular) - .4rem);
        opacity: .8;
    }

    .drink-button-cont{
        margin-top: 10px;
    }

    .drink-deco-2{
        width: 140px;
        height: 140px;
        bottom: -20%;
        right: -20%;
    }
} 