.button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    z-index: 20;
    background: rgba(0, 0, 0, .3);
    overflow: hidden;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: opacity .4s;
    pointer-events: none;
    opacity: 0;
}

.show{
    opacity: 1;
    pointer-events: all;
}

.button img{
    width: 28px;
    transform: rotate(-90deg);
    filter: invert(100%);
    z-index: 2;
}

@media (min-width: 700px){
    .button{
        bottom: 30px;
        right: 30px;
    }

    .button img{
        width: 40px;
    }
}

@media (min-width: 1024px){
    .button{
        bottom: 40px;
        right: 40px;
    }

    .button img{
        width: 50px;
    }
}

@media (min-width: 1280px){
    .button{
        bottom: 40px;
        right: 30px;
    }

    .button img{
        width: 30px;
    }
}

@media (min-width: 1920px){
    .button img{
        width: 40px;
    }
} 