.images{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title{
    font-size: var(--font-size-medium);
}

.slider{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-image-cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    aspect-ratio: 1/1;
}

.main-image-cont:hover .main-images{
    transform: scale(1.03);
}

.main-images{
   object-fit: cover;
   width: 100%;
   height: 100%; 
   transition: all .8s ease;
}

.thumbs-cont{
    flex: 1;
    width: 100%;
    height: 100%;
}

.thumbs-slides{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 1/1;
    transition: all .5s ease;
    border: 3px solid transparent;
    cursor: pointer;
    contain: paint;
}

.thumbs-slides:hover .thumb-image{
    transform: scale(1.05);
}

.thumb-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.thumb-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
}

:global(.swiper-slide-thumb-active) {
  border: 3px solid var(--thumb-active-color);
}

.umbrella{
    display: none;
}

@media (min-width: 700px){

    .slider{
        height: 450px;
        justify-content: space-between;
        flex-direction: row;
        gap: 60px;
    }

    .main-image-cont{
        flex: 3;
    }

}

@media (min-width: 1024px){
    .slider{
        height: auto;
        flex-direction: column;
        gap: 40px;
    }

    .main-image-cont{
        flex: 2;
    }

    .thumbs-slides{
        border-radius: 20px;
    }

    .umbrella{
        display: block;
        position: absolute;
        left: -60px;
        top: -60px;
        width: 160px;
        object-fit: cover;
    }

}

@media (min-width: 1280px){
    .thumbs-slides{
        border-radius: 15px;
    }

    .umbrella{
        left: -60px;
        top: -60px;
        width: 180px;
    }
}

@media (min-width: 1920px){
    .umbrella{
        left: -90px;
        top: -90px;
        width: 220px;
    }

    .main-image-cont{
        position: relative;
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px;
    }

}