.home{
    width: 100%;
}

.home-content{
    padding: 0px 20px;
    padding-bottom: 40px;
}

@media (min-width: 700px){
    .home-content{
        padding: 0px 40px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1024px){
    .home-content{
        padding: 0px 60px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1280px){
    .home-content{
        padding: 0px 80px;
    }
}

@media (min-width: 1920px){
    .home-content{
        padding: 0px 160px;
    }
} 