.bubbles {
  position: absolute;
  inset: 0;
  opacity: 1;
  pointer-events: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bubbles canvas {
  position: absolute;
  inset: 0;
}