.bubbles {
  position: absolute;
  top: 0px;
  left: 0px;
  inset: 0;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
  width: 100%;
  height: 100vh;
}

.bubbles canvas {
  position: absolute;
  inset: 0;
}