@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body, *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

:root {
  --font-size-small: .8rem;
  --font-size-regular: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-big: 2.8rem;
}

@media (min-width: 700px) {
  :root {
    --font-size-small: .9rem;
    --font-size-regular: 1.2rem;
    --font-size-medium: 1.75rem;
    --font-size-big: 2.25rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-small: 1rem;
    --font-size-regular: 1.3rem;
    --font-size-medium: 2rem;
    --font-size-big: 3.2rem;
  }
}

/* tsparcticles */

#tsparticles {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}


/* global color */

:root {
  --color-1: hsl(200, 70%, 60%);
  --color-2: hsl(260, 70%, 60%);
}

.bg-linear-color {
  background: linear-gradient(to bottom, var(--color-1), var(--color-2));
}

.border-color{
  border: 2px solid var(--color-2);
}



/* 

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){
    
}

@media (min-width: 1024px){
    
}

@media (min-width: 1280px){
    
}

@media (min-width: 1920px){
    
} 

*/
