@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body, *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;;
}

:root {
  --font-size-small: .8rem;
  --font-size-regular: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-big: 2.8rem;
}

@media (min-width: 700px) {
  :root {
    --font-size-small: .9rem;
    --font-size-regular: 1.2rem;
    --font-size-medium: 1.75rem;
    --font-size-big: 2.25rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-small: 1rem;
    --font-size-regular: 1.3rem;
    --font-size-medium: 2rem;
    --font-size-big: 3.2rem;
  }
}

:root {
  --bg-a-1: hsl(200, 70%, 60%);
  --bg-a-2: hsl(260, 70%, 60%);
  --bg-b-1: hsl(320, 70%, 60%);
  --bg-b-2: hsl(140, 70%, 60%);

  --layer-a: 1;
  --layer-b: 0;
}

.bg-layer {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.bg-layer::before,
.bg-layer::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: opacity 2.5s ease;
  pointer-events: none;
}

.bg-layer::before {
  background: linear-gradient(to bottom, var(--bg-a-1), var(--bg-a-2));
  opacity: var(--layer-a);
}

.bg-layer::after {
  background: linear-gradient(to bottom, var(--bg-b-1), var(--bg-b-2));
  opacity: var(--layer-b);
}


.split-border {
  position: relative;
  border-radius: inherit;
}

.split-border::before,
.split-border::after {
  content: "";
  position: absolute;
  pointer-events: none;
  border-radius: inherit;
  inset: 0;
  transition: opacity 2.5s ease;
}

.split-border::before {
  border: 2px solid var(--bg-a-2);
  opacity: var(--layer-a);
}

.split-border::after {
  border: 2px solid var(--bg-b-2);
  opacity: var(--layer-b);
}

.color-layer {
  position: relative;
  overflow: hidden;
  transition: all 2.5s ease;
}

.color-layer::before,
.color-layer::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: opacity 2.5s ease;
  pointer-events: none;
}

.color-layer::before {
  background: var(--bg-a-2);
  opacity: var(--layer-a);
}

.color-layer::after {
  background: var(--bg-b-2);
  opacity: var(--layer-b);
}




/* 

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){
    
}

@media (min-width: 1024px){
    
}

@media (min-width: 1280px){
    
}

@media (min-width: 1920px){
    
} 

*/
