.drink-hero-cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    overflow: hidden;
}

.drink-hero{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    transform: translateY(0px);
    z-index: 10;
}

.drink-image-cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 200px;
    aspect-ratio: 2/3;
    z-index: 10;
}

.drink-image-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    transition: transform .2s;
}

.wrapper-3{
    position: relative;
    z-index: 15;
}

.wrapper-2,
.wrapper-1{
    position: absolute;
    width: 60%;
    height: 60%;
    bottom: 10px;
    z-index: 14;
}

.wrapper-2{
    right: 130px;
    transform: rotate(-10deg);
}

.wrapper-1{
    left: 130px;
    transform: rotate(10deg);
}

.wrapper-3:hover{
    transform: translateY(-10px);
}

.wrapper-2:hover{
    transform: rotate(-10deg) translate(-10px, -10px);
}

.wrapper-1:hover{
    transform: rotate(10deg) translate(10px, -10px);
}

.drink-image{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .7s;
    z-index: 10;
    cursor: pointer;
    image-rendering: optimizeSpeed;
}

.image-loader{
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.drink-main-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    z-index: 10;
}

.drink-category{
    color: white;
    font-size: var(--font-size-regular);
    font-weight: 300;
}

.drink-name{
    color: white;
    margin-bottom: 20px;
    font-size: calc(var(--font-size-medium) + .4rem);
}

.drink-description{
    color: white;
    font-size: var(--font-size-regular);
    font-weight: 400;
    width: 80%;
    text-align: center;
}

.tags-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style: none;
    margin-top: 30px;
}

.tag{
    font-size: var(--font-size-small);
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    padding: 1px 10px;
    transition: transform .3s;
    cursor: pointer;
}

.tag:hover{
    transform: translateY(-8px);
}

.shadow1{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, .2), transparent);
    z-index: 0;
    pointer-events: none;
}

.shadow2{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3), transparent);
    z-index: 0;
    pointer-events: none;
}

.drink-scroll-icon{
    width: 30px;
    cursor: pointer;
    margin-top: 50px;
    transition: transform .4s;
    image-rendering: auto;
}

.drink-scroll-icon:hover{
    transform: scale(1.08);
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 2px;
    top: 80px;
    left: 15px;
    font-size: var(--font-size-small);
    color: white;
    padding: 2px 10px;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: gap .2s;
    z-index: 20;
}

.back:hover{
    gap: 7px;
}

.back:hover .back-icon{
    width: 10px;
}

.back-icon{
    filter: invert(100%);
    width: 0px;
    transition: width .2s;
}

.hero-decoration{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    pointer-events: none;
}

.blobs{
    position: absolute;
    opacity: .1;
    z-index: 0;
}

.blob-1{
    top: 10%;
    right: -20%;
    width: 200px;
    background-image: url(/illustrations/blob-1.svg);
}

.blob-2{
    display: none;
    background-image: url(/illustrations/blob-2.svg);
}

.dots{
    position: absolute;
    width: 100px;
    left: 10px;
    top: 40%;
    transform: rotateZ(90deg);
    background-image: url(/illustrations/dots.svg);
    aspect-ratio: 5 / 3;
}

.leafs{
    position: absolute;
    width: 200px;
    left: -30px;
    bottom: -20px;
    background-image: url(/illustrations/leafs-1.svg);
}

.circle{
    position: absolute;
    width: 240px;
    height: 240px;
    right: -100px;
    bottom: 0px;
    border-radius: 50%;
    border: 20px solid rgba(255, 255, 255, .5);
}

@media (min-width: 700px){

    .drink-hero{
        gap: 40px;
    }

    .drink-image-cont{
        width: 260px;
        height: 320px;
    }

    .wrapper-2,
    .wrapper-1{
        width: 70%;
        height: 70%;
        bottom: 20px;
    }

    .wrapper-2{
        right: 200px;
        transform: rotate(-15deg);
    }

    .wrapper-1{
        left: 200px;
        transform: rotate(15deg);
    }

    .wrapper-2:hover{
        transform: rotate(-16deg) translate(-30px, -10px);
    }

    .wrapper-1:hover{
        transform: rotate(16deg) translate(30px, -10px);
    }

    .drink-category{
        font-size: calc(var(--font-size-medium) - .2rem);
        font-weight: 300;
    }

    .drink-name{
        margin-bottom: 50px;
        font-size: calc(var(--font-size-medium) + .6rem);
    }

    .drink-description{
        font-size: calc(var(--font-size-medium) - .2rem);
        width: 90%;
    }

    .tags-cont{
        gap: 16px;
        margin-top: 40px;
    }

    .tag{
        font-size: calc(var(--font-size-regular) - .1rem);
        padding: 3px 14px;
    }

    .drink-scroll-icon{
        width: 50px;
        margin-top: 80px;
    }

    .back{
        gap: 5px;
        top: 120px;
        left: 40px;
        font-size: calc(var(--font-size-regular) + .1rem);
        color: white;
        padding: 3px 14px;
    }

    .back:hover{
        gap: 15px;
    }

    .back:hover .back-icon{
        width: 14px;
    }

    .blob-1{
        top: 10%;
        right: -10%;
        width: 300px;
    }

    .dots{
        width: 160px;
        top: 40%;
    }

    .circle{
        width: 300px;
        height: 300px;
        right: -140px;
        bottom: 80px;
        border: 30px solid rgba(255, 255, 255, .5);
    }

    .leafs{
        transform: scale(1.8);
        left: 20px;
        bottom: 50px;
    }

}

@media (min-width: 1024px){

    .drink-image-cont{
        width: 300px;
        height: 360px;
        border-radius: 25px;
    }

    .drink-image-wrapper{
        border-radius: 25px;
    }

    .wrapper-2{
        right: 260px;
    }

    .wrapper-1{
        left: 260px;
    }

    .wrapper-3:hover{
        transform: translateY(-15px);
    }

    .wrapper-2:hover{
        transform: rotate(-12deg) translate(-40px, -10px);
    }

    .wrapper-1:hover{
        transform: rotate(12deg) translate(40px, -10px);
    }

    .drink-category{
        font-size: calc(var(--font-size-medium) - .1rem);
    }

    .drink-name{
        margin-bottom: 50px;
        font-size: calc(var(--font-size-big) + .2rem);
    }

    .drink-description{
        font-size: calc(var(--font-size-medium) - .2rem);
    }

    .tags-cont{
        gap: 20px;
        margin-top: 40px;
    }

    .tag{
        font-size: calc(var(--font-size-regular) + .1rem);
        padding: 3px 20px;
    }

    .back{
        top: 180px;
    }

    .back:hover .back-icon{
        width: 16px;
    }

    .blob-1{
        width: 400px;
        top: 10%;
        right: 0%;
    }

    .blob-2{
        display: block;
        width: 200px;
        bottom: 10%;
        left: 30%;
    }

    .circle{
        width: 500px;
        height: 500px;
        right: -200px;
        bottom: 0px;
        border: 30px solid rgba(255, 255, 255, .3);
    }

    .dots{
        width: 220px;
        opacity: .6;
    }

    .leafs{
        transform: scale(2);
        left: 40px;
        bottom: 60px;
    }
    
}

@media (min-width: 1280px){
    
    .drink-hero{
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 0px;
        padding: 0px 10%;
    }

    .drink-image-cont{
        width: 240px;
        height: 300px;
        margin-right: 120px;
    }

    .wrapper-2,
    .wrapper-1{
        width: 65%;
        height: 65%;
    }

    .wrapper-2{
        right: 220px;
        transform: rotate(-10deg);
    }

    .wrapper-1{
        left: 220px;
        transform: rotate(10deg);
    }

    .wrapper-3:hover{
        transform: translateY(-20px);
    }

    .wrapper-2:hover{
        transform: rotate(-12deg) translate(-20px, -15px);
    }

    .wrapper-1:hover{
        transform: rotate(12deg) translate(20px, -15px);
    }

    .drink-main-info{
        width: auto;
        justify-content: flex-start;
        align-items: start;
    }

    .drink-category{
        font-size: var(--font-size-regular);
    }

    .drink-name{
        margin-bottom: 20px;
        font-size: calc(var(--font-size-medium) + 1rem);
    }

    .drink-description{
        font-size: calc(var(--font-size-regular) - .1rem);
        width: auto;
    }

    .tags-cont{
        justify-content: flex-start;
        gap: 20px;
        margin-top: 20px;
    }

    .tag{
        font-size: calc(var(--font-size-regular) - .3rem);
        padding: 0px 14px;
    }
    
    .drink-scroll-icon{
        position: relative;
        left: 50%;
        transform-origin: center;
        transform: translateX(-50%);
        width: 40px;
        margin-top: 50px;
    }

    .drink-scroll-icon:hover{
        transform: translateX(-50%) scale(1.08);
    }

    .back{
        font-size: calc(var(--font-size-regular) - .2rem);
        top: 120px;
    }

    .back:hover .back-icon{
        width: 14px;
    }

    .blob-1{
        width: 300px;
        top: 10%;
        right: 5%;
    }

    .blob-2{
        width: 150px;
        bottom: 0%;
        left: 30%;
    }

    .circle{
        width: 400px;
        height: 400px;
        right: -100px;
        bottom: -60px;
    }

    .dots{
        width: 140px;
        opacity: .6;
        left: -20px;
    }

    .leafs{
        transform: scale(1.5) rotateZ(15deg);
        left: 0px;
        bottom: -10px;
    }
}

@media (min-width: 1920px){

    .drink-hero{
        padding: 0px 8%;
    }
    
    .drink-image-cont{
        width: 280px;
        height: 360px;
        margin-right: 400px;
    }

    .wrapper-2,
    .wrapper-1{
        width: 70%;
        height: 70%;
    }

    .wrapper-2{
        right: 260px;
    }

    .wrapper-1{
        left: 260px;
    }

    .wrapper-3:hover{
        transform: translateY(-20px);
    }

    .wrapper-2:hover{
        transform: rotate(-12deg) translate(-30px, -15px);
    }

    .wrapper-1:hover{
        transform: rotate(12deg) translate(30px, -15px);
    }
    
    .blob-1{
        width: 400px;
        top: 5%;
        right: 5%;
    }

    .blob-2{
        width: 200px;
        bottom: 0%;
        left: 30%;
    }

    .circle{
        width: 500px;
        height: 500px;
        right: -200px;
    }

    .leafs{
        transform: scale(1.5) rotateZ(20deg);
        left: 0px;
        bottom: -10px;
    }

} 