.drink-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.drink-list__header{
    position: relative;
    width: 100%;
    padding: 5px 20px;
    border-radius: 5px;
    overflow: hidden;
}

.drink-list__cont{
    display: grid;
    gap: 40px;
}

.drink-list__title{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    font-size: calc(var(--font-size-regular) - .2rem);
    color: rgba(0, 0, 0, .6);
}

.drink-list__results{
    font-size: var(--font-size-regular);
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.drink-list__count{
    font-size: 2rem;
    color: var(--color-2);
    transition: color 2.5s ease;
    font-weight: 700;
}

.drink-list__lemon{
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 80px;
    opacity: .1;
    pointer-events: none;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.pagination-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-1);
    cursor: pointer;
    padding: 5px;
}

.pagination-button:disabled{
    opacity: .5;
    cursor: auto;
}

.prev-button{
    transform: rotateY(180deg);
}

.pagination-button img{
    width: 100%;
    height: 100%;
    filter: invert(100%);
}

.current-page{
    font-size: var(--font-size-regular);
    font-weight: 700;
    color: var(--color-1);
}


@media (min-width: 700px){

    .drink-list__cont{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .drink-list__header{
        padding: 25px 30px;
    }

    .pagination{
        gap: 30px;
    }

    .pagination-button{
        width: 40px;
    }

    .current-page{
        font-size: calc(var(--font-size-regular) + .2rem);
    }
}

@media (min-width: 1024px){

    .drink-list{
        margin-top: 0px;
        gap: 90px;
    }

    .drink-list__header{
        border-radius: 20px;
    }

    .drink-list__count{
        font-size: 3rem;
    }

    .drink-list__lemon{
        width: 180px;
        bottom: -40px;
        right: -40px;
    }
    
    .drink-list__cont{
        grid-template-columns: repeat(2, 1fr);
        gap: 80px 100px;
    }

    .pagination{
        gap: 40px;
    }

    .pagination-button{
        width: 45px;
    }

    .current-page{
        font-size: calc(var(--font-size-regular) + .5rem);
    }

}

@media (min-width: 1280px){

    .drink-list__header{
        padding: 15px 40px;
    }
    
    .drink-list__count{
        font-size: 2rem;
    }

    .drink-list__lemon{
        width: 160px;
        bottom: -40px;
        right: -40px;
    }

    .drink-list__cont{
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .pagination-button{
        width: 35px;
    }

}

@media (min-width: 1920px){

    .drink-list__cont{
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }

} 